//Colores:

$colores: white, black, rgb(18, 160, 5), rgba(0,0,0,0.2);

$blanco: nth($colores, 1);

$negro1: nth($colores, 2);

$verde: nth($colores, 3);

$negro2: nth($colores, 4);




.button {
    background-color: $blanco;
    color: $negro1;
    border: 2px solid $verde;
}

.button:hover{
    cursor: pointer;
    background-color: $verde;
    color: $blanco;
}

.accesorios-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.producto-container{ 
    margin: 15px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 $negro2;
    background-color: white;
}

.producto-container:hover{
    box-shadow: 0 8px 16px 0 $negro2;
}

.producto-container {
    img{
    width: 200px;
    
    }
}

.producto-container h1{
    margin-bottom: 10px;
    margin-left: 15px;
}

.producto-container img{
    width: 200px;
    height: 200px;
}

.img-producto{
    max-width: 380px;
    width: 100%;
    max-height: 100%;
    margin: 5rem auto;
    box-shadow: 0 8px 16px 0 $negro2;

}

.detalles-content { 
    h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
    }
}

.rating {
    margin: 1rem 0;
    span{
        font-size: 1rem;
        color: rgb(0, 0, 0);
        
    }

}

.price {
    font-weight: 700;
    font-size: 1.8rem;
}


.price{
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
}
.bottom-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.btn-producto{
    margin-top: 30px;
    padding: 1rem 1.8rem;
    font-weight: 500;
    font-size: 1.7rem;
    a{
        background-color: #3d3d3d;
        color: white;
        text-decoration: none;
    }
    a:hover{
        background-color: white;
        color: #3d3d3d;
    }
}

.productos{
    padding: 5rem 0;
}


.detalle-grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 3rem;
}
.detalles {
    .img-fluid{
        max-width: 380px;
        width: 100%;
        margin: 5rem auto;
        box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .2);
    }
}
 
.detalles-content{
    padding: 2rem;
}
.detalles-content h3{
    font-weight: 600;
    text-transform: uppercase;
}

@media only screen and (max-width: 1200px){
    .containerdetalles{
        padding: 0 3rem;
    }
}
@media only screen and (max-width: 768px){
    .container{
        padding: 0 5rem;
    }
}
@media only screen and (max-width: 840px){
    .detalle-grid{
        grid-template-columns: 1fr;
    }
}