.section-nosotros{
    width: 100%;
    min-height: 100vh;
    background:url(image/fondo.jpg);
}

.contenedor-nosotros{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
    
}

.contenedor-section{
    float: left;
    width: 55%;
    .boton-nosotros{
        margin-top: 30px;
        a{
            background-color: #3d3d3d;
            color: white;
            padding: 12px 40px;
            text-decoration: none;
            font-size: 25px;
            letter-spacing: 1.5px;
        }
        a:hover{
            background-color: white;
            color: #3d3d3d;
        }
    }
    .red-social{
        margin-top: 40px;
        i{
            color: black;
            font-size: 30px;
            padding: 0px 10px;
        }
        i:hover{
            color: #15cf8a;
        }
    }
    .titulo-nosotros{
        text-transform: uppercase;
        font-size: 28px;
    }
   .contenido-nosotros{
       h3{
           margin-top: 20px;
           color: #5d5d5d;
       }
       p{
           margin-top: 10px;
           font-family: sans-serif;
           font-size: 18px;
           line-height: 1.5;
       }

       
   }
}

.imagen-nosotros{
    float: right;
    width: 40%;
    img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px){
    .contenedor-nosotros{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
        .titulo-nosotros{
            text-align: center;
            font-size: 19px;
        }
        .contenido-nosotros{
            .boton-nosotros{
                text-align: center;
                a{
                    padding: 9px 30px;
                }
            }
        }
        .red-social{
            text-align: center;
        }
    }
    .contenedor-section{
        float: left;
        width: 100%;
        display: block;
        margin: auto;
    }
    .imagen-nosotros{
        float: none;
        width: 100%;
        img{
            width: 100%;
            height: auto;
            display: block;
            margin: auto;
        }
    }
}