.menu {
  background-color: #043a04;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0); }

.logo {
  color: white;
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold; }

.menu_items {
  display: flex;
  list-style: none;
  margin-right: 30px; }

.menu_items li {
  border-radius: 3px;
  margin: 0 5px; }

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: white; }

.menu_items li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: .4s; }

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none; }

ul.show {
  top: 65px; }

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px; }
  .menu_items li a {
    font-size: 16px; } }

@media screen and (max-width: 858px) {
  .menu {
    height: 65px; }
  .btn_menu {
    display: inline-flex; }
  .menu_items {
    position: fixed;
    width: 100vh;
    height: calc(100%-65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column; }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px; }
  .menu_items li:hover {
    background: none; }
  .menu_items li a {
    font-size: 20px;
    color: white;
    font-weight: bold; }
  .menu_items li a:hover {
    font-size: 25px;
    padding-left: 35px; } }

@media screen and (max-width: 850px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0; }
  .menu_items {
    height: calc(100% - 65px); } }

.redes-s a {
  text-decoration: none; }

.contenedor-contacto {
  width: 90%;
  max-width: 1000px;
  background: white;
  padding: 40px;
  margin: 20px auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); }
  .contenedor-contacto h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: #15cf8a; }

.contenido {
  display: flex;
  width: 100%;
  overflow: hidden; }
  .contenido .info {
    width: 50%;
    padding-left: 10px; }
    .contenido .info .redes-s {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding-left: 25px;
      display: flex;
      flex-wrap: wrap; }
      .contenido .info .redes-s a {
        display: flex;
        width: 40px;
        height: 40px;
        background: #15cf8a;
        color: white;
        align-items: center;
        border-radius: 50%; }
        .contenido .info .redes-s a i {
          margin-left: 12px; }
      .contenido .info .redes-s a:hover {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4); }
    .contenido .info .col {
      width: 100%;
      display: flex;
      margin-bottom: 15px;
      font-size: 16px;
      align-items: center;
      flex-wrap: nowrap; }
      .contenido .info .col p {
        color: #999;
        margin-top: 15px;
        margin-left: 10px; }
  .contenido .formulario {
    width: 50%;
    padding-left: 10px; }
    .contenido .formulario textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      min-height: 150px;
      max-height: 200px;
      margin-bottom: 12px 20px;
      border: 1px solid #999;
      color: #999;
      font-weight: 400;
      outline: 0; }
    .contenido .formulario button {
      padding: 12px 30px;
      border: transparent;
      background: #15cf8a;
      color: white;
      cursor: pointer;
      float: right; }

.nosotros {
  color: #0b2702;
  text-align: center;
  font-size: 2rem; }

.main-nosotros {
  color: #053507;
  background-color: #cccccc;
  padding: 10px;
  text-align: center;
  border: 2px solid black; }

.button {
  background-color: white;
  color: black;
  border: 2px solid #12a005; }

.button:hover {
  cursor: pointer;
  background-color: #12a005;
  color: white; }

.accesorios-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.producto-container {
  margin: 15px;
  padding: 2px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white; }

.producto-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.producto-container img {
  width: 200px; }

.producto-container h1 {
  margin-bottom: 10px;
  margin-left: 15px; }

.producto-container img {
  width: 200px;
  height: 200px; }

body {
  background: url(image/fondo.jpg); }

.body {
  display: grid;
  gap: 10px;
  grid-template-areas: "header" "main" "footer"; }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

#footer {
  grid-area: footer; }

.h1-home {
  color: #07462f;
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  font-weight: 500; }

.p-home {
  color: #171717;
  text-align: center;
  font-size: 20px;
  margin: 20px; }

.h2-home {
  color: #07462f;
  text-align: center;
  font-size: 34px;
  margin-top: 30px; }

.header-home .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.textos-header h1 {
  font-size: 50px;
  color: #fff; }

.header-home {
  width: 100%;
  height: 500px;
  background: url(image/fondo-home4.png);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.body-error {
  background: #081c22;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif; }

.img-error {
  width: 50%; }

.container-error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center; }

.h1-error {
  color: #e9eef5;
  font-size: 20px;
  padding: 20px; }

.boton-error {
  padding: 13px 30px;
  border-radius: 15px;
  border: none;
  background: #0581f5;
  color: white; }

.boton-error:hover {
  cursor: pointer; }

@media screen and (max-width: 630px) {
  .h1-error {
    font-size: 16px; } }
